* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  user-select: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 12px;
  max-width: 425px;
  margin: 0 auto;
}

/*  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.nav__logo {
}

.nav__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav__logo-icon {
}

.nav__logo-title {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
}

.nav__menu {
  display: none;
}

.nav__list {
  display: flex;
  gap: 56px;
}

.nav__item {
}

.nav__link {
}

.nav__link:hover,
.nav__link:focus {
  color: #eb0029;
}

.nav__actions {
  display: none;
}

.nav__icon {
}

.nav__icon--search {
}

.nav__icon--basket {
}

.nav__button {
}

.nav__button--login {
  padding: 12px 30px;
  background-color: #eb0029;
  color: #fff;
  border-radius: 50px;
}

.nav__button-icon {
  width: 16px;
  height: 16px;
}

.nav__burger {

}

.nav__button--burger {
 font-size: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .nav__menu {
    display: flex;
  }
  .nav__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
  }
  .nav__burger{
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 28px;
    max-width: 1440px;
  }
}
