.customers {
  padding-top: 20px;
    padding-bottom: 60px;
  position: relative;
}
.container {
}
.customers__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
  position: relative;
  margin-bottom: 30px;
}
.customers__decor-squares {
  position: relative;
}

/* Перший квадрат через сам блок */
.customers__decor-squares {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fdd835;
  top: 22px;
  rotate: -14deg;
  left: 92px;
}
.customers__decor-squares::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #eb0029;
  border-radius: 2px;
  top: 146px;
  left: 144px;
  rotate: 80deg;
}
.customers__decor-squares::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #f2c94c;
  border-radius: 2px;
  top: 204px;
  right: 134px;
  rotate: 64deg;
}

.customers__image-img {
  max-width: 290px;
}
.customers__decor {
  position: absolute;
}
.customers__decor--popcorn {
  top: 108px;
  left: 6px;
  max-width: 72px;
  rotate: 4deg;
}
.customers__decor--leaf-1 {
  top: 16px;
  right: 42px;
  max-width: 68px;
}
.customers__decor--leaf-2 {
  top: 20px;
  right: 8px;
  max-width: 88px;
}
.customers__decor--onion-1 {
  top: 34px;
  left: 22px;
  max-width: 60px;
}
.customers__decor--onion-2 {
  top: 28px;
  left: 36px;
  max-width: 66px;
}

.customers__content {
  margin-bottom: 48px;
}

.customers__subtitle {
  color: #eb0029;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.customers__title {
  color: #010f1c;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 14px;
}
.customers__text {
  color: #010f1c;
  font-size: 18px;
  line-height: 1.7;
      margin-bottom: 28px;
}
.customers__button{
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
  background-color: #eb0029;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.6;
  padding: 14px 20px;
  margin-left: auto;
}
.customers__review {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.customers__review-photo {
}
.customers__review-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 8px;
}

.customers__review-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #eb0029;
}
.customers__review-title {
}
.customers__review-role {
}
.rating {
}
.fa-solid {
}
.fa-star {
}
.icon-star {
}
.icon-star--active {
}
.fa-regular {
}
.icon-star--inactive {
}
.rating__value {
}

@media screen and (min-width: 768px) {
  .customers {

  }
  .customers__container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }
  .customers__content {
margin-bottom: 0;
  }
  .customers__subtitle {
    font-weight: 700;
  }
  .customers__title {
    font-weight: 800;
    font-size: 44px;
  }
  .customers__text {
    font-size: 20px;
    line-height: 1.5;

  }
  .review-card {
    position: absolute;
    z-index: 1;
    top: -40px;
    right: 0;
    max-width: 264px;
    background-color: #fff;
    padding: 22px 22px 22px 22px;
    border-radius: 20px;
  }
  .customers__image {
    max-width: 100%;
    margin-bottom: 0;
  }
.customers__button{
  width: 33.3%;
}
}

@media screen and (min-width: 1024px) {
  .customers__image-img {
    max-width: 440px;
  }
  .review-card {
    top: 428px;
    right: 474px;
    padding: 34px 36px 34px 36px;
  }

  .customers__decor--popcorn {
    top: 190px;
    left: 18px;
    max-width: 100px;
  }
  .customers__decor--leaf-1 {
    top: 16px;
    right: 42px;
    max-width: 100px;
  }
  .customers__decor--leaf-2 {
    top: 32px;
    right: 4px;
    max-width: 116px;
  }
  .customers__decor--onion-1 {
    left: 44px;
    top: 72px;
    max-width: 74px;
  }
  .customers__decor--onion-2 {
    top: 72px;
    left: 66px;
    max-width: 68px;
  }
  .customers__decor-squares {
    top: 44px;
    left: 138px;
  }
  .customers__decor-squares::before {
    top: 216px;
    left: 216px;
  }
  .customers__decor-squares::after {
    top: 304px;
    right: 184px;
  }
    .customers__container {
gap: 116px;
margin-bottom: 156px;
  }
}

@media screen and (min-width: 1440px) {
  .review-card {
    top: 432px;
    right: 878px;
    padding: 34px 36px 34px 36px;
  }
  .customers__image {
    margin-left: 0;
    margin-right: 0;
}
  .customers__subtitle {
    margin-bottom: 16px;
  }
  .customers__title{
    margin-bottom: 16px;
    max-width: 512px;
  }
}
