.customers {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
}
.customers__image {
  margin-left: auto;
  margin-right: auto;
  max-width: 290px;
  position: relative;
}
.customers__decor-squares {
  position: relative;
}

/* Перший квадрат через сам блок */
.customers__decor-squares {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fdd835;
  top: 22px;
  rotate: -14deg;
  left: 92px;
}
.customers__decor-squares::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #eb0029;
  border-radius: 2px;
  top: 146px;
  left: 144px;
  rotate: 80deg;
}
.customers__decor-squares::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #f2c94c;
  border-radius: 2px;
  top: 204px;
  right: 134px;
  rotate: 64deg;
}

.customers__image-img {
  max-width: 290px;
}
.customers__decor {
  position: absolute;
}
.customers__decor--popcorn {
  top: 108px;
  left: 6px;
  max-width: 72px;
  rotate: 4deg;
}
.customers__decor--leaf-1 {
  top: 16px;
  right: 42px;
  max-width: 68px;
}
.customers__decor--leaf-2 {
  top: 20px;
  right: 8px;
  max-width: 88px;
}
.customers__decor--onion-1 {
  top: 34px;
  left: 22px;
  max-width: 60px;
}
.customers__decor--onion-2 {
  top: 28px;
  left: 36px;
  max-width: 66px;
}
.review-card {
}
.review-card__title {
}
.review-card__group {
}
.review-card__photo {
}
.review-card__value {
}
.customers__content {
}
.customers__subtitle {
}
.customers__title {
}
.customers__text {
}
.customers__review {
}
.customers__review-photo {
}
.customers__review-info {
}
.customers__review-title {
}
.customers__review-role {
}
.rating {
}
.fa-solid {
}
.fa-star {
}
.icon-star {
}
.icon-star--active {
}
.fa-regular {
}
.icon-star--inactive {
}
.rating__value {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .customers__image-img {
    max-width: 660px;
  }
}

@media screen and (min-width: 1440px) {
}
