.footer {
}
.container {
}
.footer__social-info {
}
.nav__logo {
}
.nav__logo-link {
}
.nav__logo-icon {
}
.nav__logo-title {
}
.footer__text {
}
.socials {
}
.socials__link {
}
.socials__icon {
}
.socials__icon--instagram {
}
.socials__icon--facebook {
}
.socials__icon--twitter {
}
.footer__container {
}
.footer__list {
}
.footer__list--about {
}
.footer__item {
}
.footer__item--title {
}
.footer__title {
}
.footer__link {
}
.footer__list--company {
}
.footer__list--support {
}
.footer__list--qa {
}
.footer__link--btn {
}
.footer__link-icon {
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {
}