.hero {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero__content {
  max-width: 100%;
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
  background-color: #fee9de;
  color: #eb0029;
  font-size: 14px;
  line-height: 1.6;
  padding: 14px 20px;
  margin-bottom: 24px;
}
.hero__svg {
  width: 20px;
  height: 18px;
}
.hero__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 25px;
  max-width: 400px;
}
.hero__title--accent {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #eb0029;
  line-height: 1.1;
  font-size: 48px;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.7;
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__button--start {
  background-color: #eb0029;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}
.hero__button--video {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  margin-bottom: 0;
  padding: 0;
}

.hero__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #f2c94c;
  border-radius: 50%;
}
.hero__image {
  display: none;
}
.hero__image-img {
  max-width: 650px;
  height: auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 50%;
  }

  .hero__button {
    display: flex;
    gap: 16px;
    border-radius: 50px;
    background-color: #fee9de;
    color: #eb0029;
    font-size: 14px;
    line-height: 1.6;
    padding: 14px 20px;
    margin-bottom: 50px;
  }

  .hero__title {
    font-size: 58px;
    max-width: 100%;
  }

  .hero__image {
    display: block;
    position: relative;
    max-width: 650px;
    height: auto;
    overflow: hidden;
  }

  .hero__image-icon-clock {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 90px;
    height: 85px;
    background-color: #f2c94c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 150deg;
    z-index: 1;
  }

  .hero__image-icon-clock i {
    color: #fff;
    font-size: 48px;
  }

  .hero__image-icon-fire {
    position: absolute;
    top: 0;
    left: 88%;
    z-index: 1;
  }

  .hero__image-icon-arrow {
    position: absolute;
    top: 0;
    left: 88%;
    z-index: 1;
  }

  .hero__title--accent {
    font-size: 80px;
  }

  .hero__buttons {
    flex-direction: row;
    gap: 28px;
  }

  .hero__button--start {
    background-color: #eb0029;
    color: #fff;
    font-size: 18px;
  }
  .hero__button--video {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
  }

  .hero__image-icon-arrow {
    rotate: 91deg;
    position: absolute;
    top: 13%;
    left: 18%;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero__button--start {
    padding: 22px 40px;
  }
  .hero__title {
    font-size: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__image-icon-arrow {
    position: absolute;
    top: 16%;
    left: 87%;
    z-index: 1;
    rotate: 12deg;
  }
}
