.hero {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero__content {
  max-width: 50%;
}
.hero__button {
  display: flex;
  gap: 16px;
  border-radius: 50px;
  background-color: #fee9de;
  color: #eb0029;
  font-size: 14px;
  line-height: 1.6;
  padding: 14px 20px;
  margin-bottom: 50px;
}
.hero__svg {
  width: 20px;
  height: 18px;
}
.hero__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.2;
  margin-bottom: 25px;
}
.hero__title--accent {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #eb0029;
  line-height: 1.1;
  font-size: 80px;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.7;
}
.hero__buttons {
  display: flex;
  gap: 28px;
}
.hero__button--start {
  background-color: #eb0029;
  color: #fff;
  font-size: 18px;
  padding: 22px 40px;
}
.hero__button--video {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.hero__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #f2c94c;
  border-radius: 50%;
}
.hero__image {
  max-width: 50%;
}
.hero__image-img {
}
