.hero {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero__content {
  max-width: 100%;
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
  background-color: #fee9de;
  color: #eb0029;
  font-size: 14px;
  line-height: 1.6;
  padding: 14px 20px;
  margin-bottom: 24px;
}
.hero__svg {
  width: 20px;
  height: 18px;
}
.hero__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 25px;
  max-width: 400px;
}
.hero__title--accent {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #eb0029;
  line-height: 1.1;
  font-size: 48px;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.7;
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__button--start {
  background-color: #eb0029;
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}
.hero__button--video {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  margin-bottom: 0;
  padding: 0;
}

.hero__button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #f2c94c;
  border-radius: 50%;
}
.hero__image {
  display: none;
}
.hero__image-img {
  max-width: 650px;
  height: auto;
  overflow: hidden;
}

.hero__image-action {
  display: none;
}

.hero__image-rating {
  display: none;
}

.hero__customers {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 50%;
  }

  .hero__button {
    display: flex;
    gap: 16px;
    border-radius: 50px;
    background-color: #fee9de;
    color: #eb0029;
    font-size: 14px;
    line-height: 1.6;
    padding: 14px 20px;
    margin-bottom: 40px;
  }

  .hero__title {
    font-size: 58px;
    max-width: 100%;
  }

  .hero__image {
    display: block;
    position: relative;
    max-width: 650px;
    height: auto;
    overflow: hidden;
  }

  .hero__image-icon--clock {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 90px;
    height: 85px;
    background-color: #f2c94c;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 150deg;
    z-index: 1;
  }

 .hero__image-icon--clock i {
    color: #fff;
    font-size: 48px;
  }

  .hero__image-icon--fire {
    position: absolute;
    top: 0;
    left: 88%;
    z-index: 1;
  }

  .hero__image-icon--arrow {
    position: absolute;
    top: 0;
    left: 88%;
    z-index: 1;
  }

  .hero__title--accent {
    font-size: 80px;
  }

  .hero__buttons {
    flex-direction: row;
    gap: 28px;
  }

  .hero__button--start {
    background-color: #eb0029;
    color: #fff;
    font-size: 18px;
  }
  .hero__button--video {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
  }

  .hero__image-icon--arrow {
    rotate: 91deg;
    position: absolute;
    top: 13%;
    left: 18%;
    z-index: 1;
  }

  .hero__image-action {
    display: flex;
    position: absolute;
    bottom: 18%;
    left: 0;
    z-index: 1;
    width: 323px;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px;
  }
  .hero__image-action-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  .hero__image-action-icon--user {
    background-color: #fee9de;
    margin-right: 24px;
  }
  .hero__image-action-icon-svg {
  }
  .hero__image-action-info {
  }
  .hero__image-action-title {
  }
  .hero__image-action-subtitle {
    font-size: 12px;
  }
  .hero__image-action-icon--phone {
    background-color: #eb0029;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .fa-solid {
  }
  .fa-phone {
  }

  .hero__image-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 52%;
    right: 4px;
    background-color: #fff;
    border-radius: 20px;
    padding: 12px;
  }
  .hero__image-rating-img {
    border-radius: 24px;
    width: 113px;
    height: auto;
    margin-right: 24px;
  }
  .hero__image-rating-title {
    font-weight: 600;
    line-height: 1.5;
  }
  .hero__image-info-list {
    display: flex;
  }
  .hero__image-info-item {
  }
  .fa-solid {
  }
  .fa-star {
  }

  .hero__image-info-price {
    font-weight: 700;
    line-height: 1.2;
  }
  .hero__image-info-price-accent {
    font-size: 10px;
    color: #eb0029;
  }

  .hero__customers {
    display: flex;
    align-items: center;
  }
  .hero__customers-list {
    display: flex;
    padding-left: 14px;
  }
  .hero__customers-item {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: -20px;
  }
  .hero__customers-info {
    font-weight: 600;
    font-size: 16px;
  }
  .hero__customers-title {
  }
  .hero__customers-rating {
    display: flex;
    gap: 8px;
  }

  .hero__customers-rating-value {
    font-size: 14px;
  }
  .hero__customers-rating-value--overview {
    color: #828282;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero__button--start {
    padding: 22px 40px;
  }
  .hero__title {
    font-size: 68px;
  }

  .hero__image-rating {
    top: 52%;
    right: 44%;
  }

  .hero__button {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero__image-icon--arrow {
    position: absolute;
    top: 16%;
    left: 87%;
    z-index: 1;
    rotate: 12deg;
  }
  .hero__image-rating {
    top: 82%;
    right: 6px;
  }
}
