.menu {
  padding-top: 80px;
  padding-bottom: 80px;
}
.container {
}
.menu__info {
  margin-bottom: 60px;
  position: relative;
}
.menu__subtitle {
  color: #eb0029;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.menu__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  max-width: 514px;
}
.menu__container {
  display: flex;
  gap: 80px;
}
.menu__list {
  max-height: 574px;
  display: flex;
  flex: 0 0 340px;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
}

/* scroll style */

/* Ширина смуги прокрутки */
.menu__list::-webkit-scrollbar {
  width: 6px;
}

/* Доріжка */
.menu__list::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

/* Повзунок */
.menu__list::-webkit-scrollbar-thumb {
  background: #eb0029;
  border-radius: 10px;
}

/* Ховер */
.menu__list::-webkit-scrollbar-thumb:hover {
  background: #c00020;
}

/* Firefox */
.menu__list {
  scrollbar-width: thin;
  scrollbar-color: #eb0029 #f4f4f4;
}

/* end scroll style */

.menu__link {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px;
  max-width: 264px;
  border-radius: 50px;
  position: relative;
}

.menu__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
}

.menu__icon-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.7);
  transition: 0.3s ease;
  z-index: 0;
}

.menu__icon {
  position: relative;
  z-index: 1;
}

.menu__link:hover .menu__icon-wrap::after {
  opacity: 1;
  transform: scale(1);
}

.menu__link:hover {
  background-color: #eb0029;
  color: #fff;
}

.menu__icon {
  width: 30px;
  height: 30px;
  z-index: 1;
}
.menu__item-name {
  font-size: 24px;
}
.swiper {
  /* overflow: hidden; */
  flex: 1;
  min-width: 0;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
}

.menu-card {
  height: 508px;
  width: 436px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #000;
}

.menu-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.3) 100%
  );
  pointer-events: none;
}

.menu-card__img {
  height: 508px;
  width: 436px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.menu-card__info {
  position: absolute;
  z-index: 1;
  left: 40px;
  bottom: 20px;
}
.menu-card__title {
  font-size: 34px;
  color: #fff;
}
.menu-card__price {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.menu-card__price-currency {
  font-weight: 600;
  font-size: 24px;

  color: yellow;
}
.menu-card__action {
  font-size: 18px;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 18px;
}
.fa-solid {
}
.fa-angle-right {
}
.menu-card__action-icon {
}
.swiper-pagination {
}

.menu__nav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.swiper-button-prev, .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 12px;
  background-color: #e0e0e0;
  border-radius: 50%;
  position: static !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #fff;
  background-color: #eb0029;
}
