* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  user-select: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  background: none;
  border: none;
  outline: none;

  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

/* анімації при скролі */
.animate {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.animate.is-visible {
  opacity: 1;
  transform: translateY(0);
}
/* анімації кнопок */
.btn {
  position: relative;
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* анімації іконок */

.nav__actions-item:hover {
  transform: scale(1.2);
}

.hero__image-action-icon--phone {
  position: relative;
  animation: phonemove 1s infinite;
}
@keyframes phonemove {
  0% {
    rotate: 0deg;
    /* scale: 1; */
  }
  50% {
    rotate: 30deg;
    /* scale: 1.2; */
  }
  100% {
    rotate: 0deg;
    /* scale: 1; */
  }
}

.socials__icon {
  transition: 0.3s ease;
}

.socials__link:hover .socials__icon {
  transform: scale(1.2) rotate(5deg);
}
/* анімації посилань */
.link {
  transition: 0.3s ease;
}
.link:hover,
.link:focus {
  color: #eb0029;
}
