/* container */
.container {
  padding: 0 12px;
  max-width: 425px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 28px;
    max-width: 1440px;
  }
}
/* end container */

/* stars */
.icon-star {
  color: #f2c94c;
}

.icon-star--active {
}

.icon-star--inactive {
  color: #f2c94c;
}
/* end stars */


/* review-card */
.review-card {
  display: none;
    position: absolute;
    z-index: 1;
    top: 284px;
    right: 117px;
    max-width: 264px;
    background-color: #fff;
    padding: 34px 30px 24px 30px;
    border-radius: 20px;
}
.review-card__title {
  margin-bottom: 16px;
}
.review-card__group {
  display: flex;
  align-items: center;
}
.review-card__photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  margin-left: -16px;
}
.review-card__value {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eb0029;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -16px;
}
/* end review-card */
@media screen and (min-width: 768px) {
.review-card {
  display: block;
}

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}
/* end review-card */

/* review-rating */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}
/* end review-rating */
